Pagamento
FormaPagamento
PagamentoBoleto
PagamentoCredito
PagamentoDebito
PagamentoDinheiro
PagamentoTransferencia
ComprovanteFiscal
ComprovanteEmail
ComprovanteImpresso
Estabelecimento
Pessoa
Funcionario
Login
Autenticacao
Cliente
Hospede
Acomodação
Lote
LoteComBarraca
Conta
Checkin
Checkout
Reserva
ReservaSemPagamento
ReservaComPagamento
